<div class="container">
  <h1 class="h2">Todo</h1>
  <div class="task task-fade" ng-repeat="task in tasks | orderBy:'-is_completed':true">
    <div class="task__panel" ng-class="task.is_completed === true ? 'panel-default' : 'panel-primary'">
      <div class="task__panel__heading">
        <h3>{{task.name}}</h3>
        <div class="material-switch">
          <input type="checkbox" name="task[is_completed]" id="task-{{task.id}}" ng-model="task.is_completed" ng-change="completeTask(task)">
          <label for="task-{{task.id}}"></label>
        </div>
      </div>
    </div>
  </div>
</div>
