.task {
  @extend .list-group-item;
  display: flex;
  justify-content: space-between;
  &--completed {
    color: #ccc;
  }
  &--title {
    position: relative;
  }
}

.task-filters {
  a {
    cursor: pointer;
    &:focus, &:active, &:hover {
      color: red;
      text-decoration: none;
    }
  }
}

.active {
  color: red;
}

.tasks-footer {
  @extend .panel-footer;
  display: flex;
  justify-content: space-between;
  a {
    cursor: pointer;
    &:focus, &:active, &:hover {
      color: red;
      text-decoration: none;
    }
  }
}

.new-task {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  input[type="date"] {
    &::-webkit-inner-spin-button {
      display:none;
    }
  }
}

.delete-task {
  position: absolute;
  right: 20%;
  cursor: pointer;
}
