.task {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid #eee;
  position: relative;
  &--completed {
    color: #ccc;
    a {
      color: #ccc;
    }
    &:after {
      position: absolute;
      left: 0;
      top: 50%;
      height: 1px;
      background-color: #ccc;
      content: "";
      width: 100%;
      display: block;
    }
  }
  &__title {
    flex: 4;
    margin: 0 auto;
  }
  &__due-date {
    flex: 1;
    margin: 0 auto;
  }
  &__completed {
    flex: 0.5;
  }
  &__view-note {
    flex: 1;
  }
}

.task-categories {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  &__title {
    flex: 4;
    margin: 0 auto;
  }
  &__due-date {
    flex: 1;
    margin: 0 auto;
  }
  &__completed {
    flex: 0.5;
  }
  &__view-note {
    flex: 1;
  }
}
